**/node_modules
**/dist
**/.env
.git
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.sh
storage/*
!storage/.gitkeep
*.db
*.db-journal
*.db-shm
*.db-wal
**/generated/*d.ts
**/*.test.ts
**/*.spec.ts
tests/
**/vitest.config.ts
**/seed.ts

