{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Nexudus"
  },
  "host": "spaces.nexudus.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/spaces/accesstokens": {
      "get": {
        "tags": [
          "AccessTokensApi"
        ],
        "operationId": "AccessTokensApi_Get_page_size_orderBy_dir",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Ascending",
              "Descending"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiListingResult[Nexudus.Coworking.Core.QueryDtos.Spaces.AccessTokenDto]"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AccessTokensApi"
        ],
        "operationId": "AccessTokensApi_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Spaces.AccessTokenDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      },
      "post": {
        "tags": [
          "AccessTokensApi"
        ],
        "operationId": "AccessTokensApi_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Spaces.AccessTokenDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/spaces/accesstokens/{id}": {
      "get": {
        "tags": [
          "AccessTokensApi"
        ],
        "operationId": "AccessTokensApi_Get_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Spaces.AccessTokenDto"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AccessTokensApi"
        ],
        "operationId": "AccessTokensApi_Delete_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/spaces/accesstokens/commands": {
      "get": {
        "tags": [
          "AccessTokensApi"
        ],
        "operationId": "AccessTokensApi_Commands_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/spaces/accesstokens/runcommand": {
      "post": {
        "tags": [
          "AccessTokensApi"
        ],
        "operationId": "AccessTokensApi_RunCommand",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiCommandParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/content/audiofiles": {
      "get": {
        "tags": [
          "AudioFilesApi"
        ],
        "operationId": "AudioFilesApi_Get_page_size_orderBy_dir",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Ascending",
              "Descending"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiListingResult[Nexudus.Coworking.Core.QueryDtos.Content.AudioFileDto]"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AudioFilesApi"
        ],
        "operationId": "AudioFilesApi_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Content.AudioFileDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      },
      "post": {
        "tags": [
          "AudioFilesApi"
        ],
        "operationId": "AudioFilesApi_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Content.AudioFileDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/content/audiofiles/{id}": {
      "get": {
        "tags": [
          "AudioFilesApi"
        ],
        "operationId": "AudioFilesApi_Get_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Content.AudioFileDto"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AudioFilesApi"
        ],
        "operationId": "AudioFilesApi_Delete_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/content/audiofiles/commands": {
      "get": {
        "tags": [
          "AudioFilesApi"
        ],
        "operationId": "AudioFilesApi_Commands_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/content/audiofiles/runcommand": {
      "post": {
        "tags": [
          "AudioFilesApi"
        ],
        "operationId": "AudioFilesApi_RunCommand",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiCommandParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/content/audiofiles/getaudio/{id}": {
      "get": {
        "tags": [
          "AudioFilesApi"
        ],
        "operationId": "AudioFilesApi_GetAudio_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/sys/audittrailentries/{id}": {
      "get": {
        "tags": [
          "AuditTrailEntriesApi"
        ],
        "operationId": "AuditTrailEntriesApi_Get_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Sys.AuditTrailEntryDto"
            }
          }
        }
      }
    },
    "/api/sys/audittrailentries": {
      "get": {
        "tags": [
          "AuditTrailEntriesApi"
        ],
        "operationId": "AuditTrailEntriesApi_Get_page_orderBy_size_dir",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Ascending",
              "Descending"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/sys/audittrailentries/commands": {
      "get": {
        "tags": [
          "AuditTrailEntriesApi"
        ],
        "operationId": "AuditTrailEntriesApi_Commands_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/sys/audittrailentries/runcommand": {
      "post": {
        "tags": [
          "AuditTrailEntriesApi"
        ],
        "operationId": "AuditTrailEntriesApi_RunCommand",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiCommandParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/auth": {
      "get": {
        "tags": [
          "AuthApi"
        ],
        "operationId": "AuthApi_GetAuth",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/auth/me/refreshJwtToken": {
      "put": {
        "tags": [
          "AuthApi"
        ],
        "operationId": "AuthApi_RefreshJwtToken",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Sys.UserDto"
            }
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": [
          "AuthApi"
        ],
        "operationId": "AuthApi_GetMe",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Sys.UserDto"
            }
          }
        }
      }
    },
    "/api/auth/validate": {
      "put": {
        "tags": [
          "AuthApi"
        ],
        "operationId": "AuthApi_Activate_token",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/auth/send_activation_email": {
      "put": {
        "tags": [
          "AuthApi"
        ],
        "operationId": "AuthApi_RequestActivation_email",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/auth/setDefaultBusiness": {
      "put": {
        "tags": [
          "AuthApi"
        ],
        "operationId": "AuthApi_SetDefaultBuisiness_businessId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "businessId",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Sys.UserDto"
            }
          }
        }
      }
    },
    "/api/business": {
      "get": {
        "tags": [
          "AuthApi"
        ],
        "operationId": "AuthApi_GetBusiness",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Sys.BusinessDto"
            }
          }
        }
      }
    },
    "/api/auth/sso": {
      "get": {
        "tags": [
          "AuthApi"
        ],
        "operationId": "AuthApi_SSO_businessId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "businessId",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/auth/media": {
      "get": {
        "tags": [
          "AuthApi"
        ],
        "operationId": "AuthApi_MediaToken",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/auth/media/customer": {
      "get": {
        "tags": [
          "AuthApi"
        ],
        "operationId": "AuthApi_MediaCustomerToken",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/sys/automationtileaudits": {
      "get": {
        "tags": [
          "AutomationTileAuditsApi"
        ],
        "operationId": "AutomationTileAuditsApi_Get_page_size_orderBy_dir",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Ascending",
              "Descending"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiListingResult[Nexudus.Coworking.Core.QueryDtos.Sys.AutomationTileAuditDto]"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AutomationTileAuditsApi"
        ],
        "operationId": "AutomationTileAuditsApi_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Sys.AutomationTileAuditDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      },
      "post": {
        "tags": [
          "AutomationTileAuditsApi"
        ],
        "operationId": "AutomationTileAuditsApi_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Sys.AutomationTileAuditDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/sys/automationtileaudits/{id}": {
      "get": {
        "tags": [
          "AutomationTileAuditsApi"
        ],
        "operationId": "AutomationTileAuditsApi_Get_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Sys.AutomationTileAuditDto"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AutomationTileAuditsApi"
        ],
        "operationId": "AutomationTileAuditsApi_Delete_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/sys/automationtileaudits/commands": {
      "get": {
        "tags": [
          "AutomationTileAuditsApi"
        ],
        "operationId": "AutomationTileAuditsApi_Commands_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/sys/automationtileaudits/runcommand": {
      "post": {
        "tags": [
          "AutomationTileAuditsApi"
        ],
        "operationId": "AutomationTileAuditsApi_RunCommand",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiCommandParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/sys/automationtiles": {
      "get": {
        "tags": [
          "AutomationTilesApi"
        ],
        "operationId": "AutomationTilesApi_Get_page_size_orderBy_dir",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Ascending",
              "Descending"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiListingResult[Nexudus.Coworking.Core.QueryDtos.Sys.AutomationTileDto]"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AutomationTilesApi"
        ],
        "operationId": "AutomationTilesApi_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Sys.AutomationTileDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      },
      "post": {
        "tags": [
          "AutomationTilesApi"
        ],
        "operationId": "AutomationTilesApi_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Sys.AutomationTileDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/sys/automationtiles/{id}": {
      "get": {
        "tags": [
          "AutomationTilesApi"
        ],
        "operationId": "AutomationTilesApi_Get_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Sys.AutomationTileDto"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AutomationTilesApi"
        ],
        "operationId": "AutomationTilesApi_Delete_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/sys/automationtiles/automationTile/resources/{id}/{childId}": {
      "post": {
        "tags": [
          "AutomationTilesApi"
        ],
        "operationId": "AutomationTilesApi_AddResources_id_childId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "childId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AutomationTilesApi"
        ],
        "operationId": "AutomationTilesApi_RemoveResources_id_childId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "childId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/sys/automationtiles/automationTile/tariffs/{id}/{childId}": {
      "post": {
        "tags": [
          "AutomationTilesApi"
        ],
        "operationId": "AutomationTilesApi_AddTariffs_id_childId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "childId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AutomationTilesApi"
        ],
        "operationId": "AutomationTilesApi_RemoveTariffs_id_childId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "childId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/sys/automationtiles/automationTile/timepasses/{id}/{childId}": {
      "post": {
        "tags": [
          "AutomationTilesApi"
        ],
        "operationId": "AutomationTilesApi_AddTimePasses_id_childId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "childId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AutomationTilesApi"
        ],
        "operationId": "AutomationTilesApi_RemoveTimePasses_id_childId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "childId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/sys/automationtiles/automationTile/floorplandesks/{id}/{childId}": {
      "post": {
        "tags": [
          "AutomationTilesApi"
        ],
        "operationId": "AutomationTilesApi_AddFloorPlanDesks_id_childId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "childId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AutomationTilesApi"
        ],
        "operationId": "AutomationTilesApi_RemoveFloorPlanDesks_id_childId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "childId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/sys/automationtiles/commands": {
      "get": {
        "tags": [
          "AutomationTilesApi"
        ],
        "operationId": "AutomationTilesApi_Commands_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/sys/automationtiles/runcommand": {
      "post": {
        "tags": [
          "AutomationTilesApi"
        ],
        "operationId": "AutomationTilesApi_RunCommand",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiCommandParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/billing/basketsessions": {
      "get": {
        "tags": [
          "BasketSessionsApi"
        ],
        "operationId": "BasketSessionsApi_Get_page_size_orderBy_dir",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Ascending",
              "Descending"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiListingResult[Nexudus.Coworking.Core.QueryDtos.Billing.BasketSessionDto]"
            }
          }
        }
      },
      "put": {
        "tags": [
          "BasketSessionsApi"
        ],
        "operationId": "BasketSessionsApi_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Billing.BasketSessionDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      },
      "post": {
        "tags": [
          "BasketSessionsApi"
        ],
        "operationId": "BasketSessionsApi_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Billing.BasketSessionDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/billing/basketsessions/{id}": {
      "get": {
        "tags": [
          "BasketSessionsApi"
        ],
        "operationId": "BasketSessionsApi_Get_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Billing.BasketSessionDto"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BasketSessionsApi"
        ],
        "operationId": "BasketSessionsApi_Delete_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/billing/basketsessions/commands": {
      "get": {
        "tags": [
          "BasketSessionsApi"
        ],
        "operationId": "BasketSessionsApi_Commands_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/billing/basketsessions/runcommand": {
      "post": {
        "tags": [
          "BasketSessionsApi"
        ],
        "operationId": "BasketSessionsApi_RunCommand",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiCommandParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/content/blogcategories": {
      "get": {
        "tags": [
          "BlogCategoriesApi"
        ],
        "operationId": "BlogCategoriesApi_Get_page_size_orderBy_dir",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Ascending",
              "Descending"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiListingResult[Nexudus.Coworking.Core.QueryDtos.Content.BlogCategoryDto]"
            }
          }
        }
      },
      "put": {
        "tags": [
          "BlogCategoriesApi"
        ],
        "operationId": "BlogCategoriesApi_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Content.BlogCategoryDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      },
      "post": {
        "tags": [
          "BlogCategoriesApi"
        ],
        "operationId": "BlogCategoriesApi_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Content.BlogCategoryDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/content/blogcategories/{id}": {
      "get": {
        "tags": [
          "BlogCategoriesApi"
        ],
        "operationId": "BlogCategoriesApi_Get_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Content.BlogCategoryDto"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BlogCategoriesApi"
        ],
        "operationId": "BlogCategoriesApi_Delete_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/content/blogcategories/blogCategory/blogposts/{id}/{childId}": {
      "post": {
        "tags": [
          "BlogCategoriesApi"
        ],
        "operationId": "BlogCategoriesApi_AddBlogPosts_id_childId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "childId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BlogCategoriesApi"
        ],
        "operationId": "BlogCategoriesApi_RemoveBlogPosts_id_childId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "childId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/content/blogcategories/commands": {
      "get": {
        "tags": [
          "BlogCategoriesApi"
        ],
        "operationId": "BlogCategoriesApi_Commands_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/content/blogcategories/runcommand": {
      "post": {
        "tags": [
          "BlogCategoriesApi"
        ],
        "operationId": "BlogCategoriesApi_RunCommand",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiCommandParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/content/blogpostcomments": {
      "get": {
        "tags": [
          "BlogPostCommentsApi"
        ],
        "operationId": "BlogPostCommentsApi_Get_page_size_orderBy_dir",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Ascending",
              "Descending"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiListingResult[Nexudus.Coworking.Core.QueryDtos.Content.BlogPostCommentDto]"
            }
          }
        }
      },
      "put": {
        "tags": [
          "BlogPostCommentsApi"
        ],
        "operationId": "BlogPostCommentsApi_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Content.BlogPostCommentDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      },
      "post": {
        "tags": [
          "BlogPostCommentsApi"
        ],
        "operationId": "BlogPostCommentsApi_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Content.BlogPostCommentDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/content/blogpostcomments/{id}": {
      "get": {
        "tags": [
          "BlogPostCommentsApi"
        ],
        "operationId": "BlogPostCommentsApi_Get_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Content.BlogPostCommentDto"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BlogPostCommentsApi"
        ],
        "operationId": "BlogPostCommentsApi_Delete_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/content/blogpostcomments/commands": {
      "get": {
        "tags": [
          "BlogPostCommentsApi"
        ],
        "operationId": "BlogPostCommentsApi_Commands_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/content/blogpostcomments/runcommand": {
      "post": {
        "tags": [
          "BlogPostCommentsApi"
        ],
        "operationId": "BlogPostCommentsApi_RunCommand",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiCommandParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/content/blogposts": {
      "get": {
        "tags": [
          "BlogPostsApi"
        ],
        "operationId": "BlogPostsApi_Get_page_size_orderBy_dir",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Ascending",
              "Descending"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiListingResult[Nexudus.Coworking.Core.QueryDtos.Content.BlogPostDto]"
            }
          }
        }
      },
      "put": {
        "tags": [
          "BlogPostsApi"
        ],
        "operationId": "BlogPostsApi_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Content.BlogPostDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      },
      "post": {
        "tags": [
          "BlogPostsApi"
        ],
        "operationId": "BlogPostsApi_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Content.BlogPostDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/content/blogposts/{id}": {
      "get": {
        "tags": [
          "BlogPostsApi"
        ],
        "operationId": "BlogPostsApi_Get_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Content.BlogPostDto"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BlogPostsApi"
        ],
        "operationId": "BlogPostsApi_Delete_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/content/blogposts/blogPost/blogcategories/{id}/{childId}": {
      "post": {
        "tags": [
          "BlogPostsApi"
        ],
        "operationId": "BlogPostsApi_AddBlogCategories_id_childId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "childId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BlogPostsApi"
        ],
        "operationId": "BlogPostsApi_RemoveBlogCategories_id_childId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "childId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/content/blogposts/commands": {
      "get": {
        "tags": [
          "BlogPostsApi"
        ],
        "operationId": "BlogPostsApi_Commands_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/content/blogposts/runcommand": {
      "post": {
        "tags": [
          "BlogPostsApi"
        ],
        "operationId": "BlogPostsApi_RunCommand",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiCommandParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/content/blogposts/getimage/{id}": {
      "get": {
        "tags": [
          "BlogPostsApi"
        ],
        "operationId": "BlogPostsApi_GetImage_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/content/blogposts/getlargeimage/{id}": {
      "get": {
        "tags": [
          "BlogPostsApi"
        ],
        "operationId": "BlogPostsApi_GetLargeImage_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/spaces/bookingavailabilityexceptions": {
      "get": {
        "tags": [
          "BookingAvailabilityExceptionsApi"
        ],
        "operationId": "BookingAvailabilityExceptionsApi_Get_page_size_orderBy_dir",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Ascending",
              "Descending"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiListingResult[Nexudus.Coworking.Core.QueryDtos.Spaces.BookingAvailabilityExceptionDto]"
            }
          }
        }
      },
      "put": {
        "tags": [
          "BookingAvailabilityExceptionsApi"
        ],
        "operationId": "BookingAvailabilityExceptionsApi_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Spaces.BookingAvailabilityExceptionDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      },
      "post": {
        "tags": [
          "BookingAvailabilityExceptionsApi"
        ],
        "operationId": "BookingAvailabilityExceptionsApi_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Spaces.BookingAvailabilityExceptionDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/spaces/bookingavailabilityexceptions/{id}": {
      "get": {
        "tags": [
          "BookingAvailabilityExceptionsApi"
        ],
        "operationId": "BookingAvailabilityExceptionsApi_Get_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Spaces.BookingAvailabilityExceptionDto"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BookingAvailabilityExceptionsApi"
        ],
        "operationId": "BookingAvailabilityExceptionsApi_Delete_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/spaces/bookingavailabilityexceptions/bookingAvailabilityException/resources/{id}/{childId}": {
      "post": {
        "tags": [
          "BookingAvailabilityExceptionsApi"
        ],
        "operationId": "BookingAvailabilityExceptionsApi_AddResources_id_childId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "childId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BookingAvailabilityExceptionsApi"
        ],
        "operationId": "BookingAvailabilityExceptionsApi_RemoveResources_id_childId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "childId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/spaces/bookingavailabilityexceptions/commands": {
      "get": {
        "tags": [
          "BookingAvailabilityExceptionsApi"
        ],
        "operationId": "BookingAvailabilityExceptionsApi_Commands_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/spaces/bookingavailabilityexceptions/runcommand": {
      "post": {
        "tags": [
          "BookingAvailabilityExceptionsApi"
        ],
        "operationId": "BookingAvailabilityExceptionsApi_RunCommand",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiCommandParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/importers/bookings/template/{id}": {
      "get": {
        "tags": [
          "BookingImporterApi"
        ],
        "operationId": "BookingImporterApi_Template_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/importers/bookings/import": {
      "get": {
        "tags": [
          "BookingImporterApi"
        ],
        "operationId": "BookingImporterApi_Import_fileUrl_preview",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "fileUrl",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "preview",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/spaces/bookingnotes": {
      "get": {
        "tags": [
          "BookingNotesApi"
        ],
        "operationId": "BookingNotesApi_Get_page_size_orderBy_dir",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Ascending",
              "Descending"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiListingResult[Nexudus.Coworking.Core.QueryDtos.Spaces.BookingNoteDto]"
            }
          }
        }
      },
      "put": {
        "tags": [
          "BookingNotesApi"
        ],
        "operationId": "BookingNotesApi_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Spaces.BookingNoteDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      },
      "post": {
        "tags": [
          "BookingNotesApi"
        ],
        "operationId": "BookingNotesApi_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Spaces.BookingNoteDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/spaces/bookingnotes/{id}": {
      "get": {
        "tags": [
          "BookingNotesApi"
        ],
        "operationId": "BookingNotesApi_Get_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Spaces.BookingNoteDto"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BookingNotesApi"
        ],
        "operationId": "BookingNotesApi_Delete_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/spaces/bookingnotes/commands": {
      "get": {
        "tags": [
          "BookingNotesApi"
        ],
        "operationId": "BookingNotesApi_Commands_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/spaces/bookingnotes/runcommand": {
      "post": {
        "tags": [
          "BookingNotesApi"
        ],
        "operationId": "BookingNotesApi_RunCommand",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiCommandParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/spaces/bookingnotes/date": {
      "get": {
        "tags": [
          "BookingNotesApi"
        ],
        "operationId": "BookingNotesApi_GetByDate_date",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiListingResult[Nexudus.Coworking.Core.QueryDtos.Spaces.BookingNoteDto]"
            }
          }
        }
      }
    },
    "/api/spaces/bookingproducts": {
      "get": {
        "tags": [
          "BookingProductsApi"
        ],
        "operationId": "BookingProductsApi_Get_page_size_orderBy_dir",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Ascending",
              "Descending"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiListingResult[Nexudus.Coworking.Core.QueryDtos.Spaces.BookingProductDto]"
            }
          }
        }
      },
      "put": {
        "tags": [
          "BookingProductsApi"
        ],
        "operationId": "BookingProductsApi_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Spaces.BookingProductDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      },
      "post": {
        "tags": [
          "BookingProductsApi"
        ],
        "operationId": "BookingProductsApi_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Spaces.BookingProductDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/spaces/bookingproducts/{id}": {
      "get": {
        "tags": [
          "BookingProductsApi"
        ],
        "operationId": "BookingProductsApi_Get_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Spaces.BookingProductDto"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BookingProductsApi"
        ],
        "operationId": "BookingProductsApi_Delete_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/spaces/bookingproducts/commands": {
      "get": {
        "tags": [
          "BookingProductsApi"
        ],
        "operationId": "BookingProductsApi_Commands_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/spaces/bookingproducts/runcommand": {
      "post": {
        "tags": [
          "BookingProductsApi"
        ],
        "operationId": "BookingProductsApi_RunCommand",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiCommandParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/spaces/bookingproducts/date": {
      "get": {
        "tags": [
          "BookingProductsApi"
        ],
        "operationId": "BookingProductsApi_GetByDate_date",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiListingResult[Nexudus.Coworking.Core.QueryDtos.Spaces.BookingProductDto]"
            }
          }
        }
      }
    },
    "/api/spaces/bookings/{id}": {
      "get": {
        "tags": [
          "BookingsApi"
        ],
        "operationId": "BookingsApi_Get_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Spaces.BookingDto"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BookingsApi"
        ],
        "operationId": "BookingsApi_Delete_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/spaces/bookings": {
      "get": {
        "tags": [
          "BookingsApi"
        ],
        "operationId": "BookingsApi_Get_page_size_orderBy_dir",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Ascending",
              "Descending"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiListingResult[Nexudus.Coworking.Core.QueryDtos.Spaces.BookingDto]"
            }
          }
        }
      },
      "put": {
        "tags": [
          "BookingsApi"
        ],
        "operationId": "BookingsApi_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Spaces.BookingDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      },
      "post": {
        "tags": [
          "BookingsApi"
        ],
        "operationId": "BookingsApi_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Spaces.BookingDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/spaces/bookings/commands": {
      "get": {
        "tags": [
          "BookingsApi"
        ],
        "operationId": "BookingsApi_Commands_id",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/spaces/bookings/runcommand": {
      "post": {
        "tags": [
          "BookingsApi"
        ],
        "operationId": "BookingsApi_RunCommand",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Web.Controllers.API.ApiCommandParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      }
    },
    "/api/spaces/bookings/extended": {
      "put": {
        "tags": [
          "BookingsApi"
        ],
        "operationId": "BookingsApi_PutExtended",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.QueryDtos.Spaces.BookingExtendedDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Nexudus.Coworking.Core.ActionConfirmation"
            }
          }
        }
      },
      "post": {
        "tags": [
          "BookingsApi"
        ],
        "operationId": "BookingsApi_PostExtended",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
[...]
